<% layout('layouts/boilerplate') %>
    <h1>All Campgrounds</h1>
    <% for (let campground of campgrounds) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.images.length) { %>
                    <img class="img-fluid" alt="" src="<%=campground.images[0].url%>">
                    <% } else { %>
                    <img class="img-fluid" alt="" src="https://res.cloudinary.com/dtflcs1ha/image/upload/f_auto,q_auto/v1/samples/landscapes/nature-mountains">    
                    <% } %>
                </div>
                <div class="col-md-8">
                    <h5 class="card-title">
                        <%=campground.title%>
                    </h5>
                    <p class="card-text">
                        <%= campground.description %>
                    </p>
                    <p class="card-text">
                        <small class="text-secondary">
                            <%= campground.location %>
                        </small>
                    </p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View <%= campground.title %></a>
                </div>
            </div>
        </div>
        <% } %>